@import "tailwindcss";

:root { --background: #FFFFFF; --foreground: #2D333A; }

@theme inline { --color-background: var(--background); --color-foreground: var(--foreground); --font-sans: var(--font-geist-sans); --font-mono: var(--font-geist-mono); }

@media (prefers-color-scheme: dark) { :root { --background: #2D333A; --foreground: #FFFFFF; } }

body { background: var(--background); color: var(--foreground); font-family: Arial, Helvetica, sans-serif; }

.f3.f3-cont { max-height: 92.9vh !important; }

.f3-radio-group { display: none !important; }

.f3-delete-btn { display: none !important; }

.hide-scrollbar::-webkit-scrollbar { display: none; }

#f3Canvas #htmlSvg:not(:first-of-type) { display: none !important; }